.banner {
    display: flex;
    background-color: rgb(17, 22, 30);
    height: 60px;
    margin-top: 0px;
    position: fixed;
    top: 0;    
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

.amazon-container {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 28px;
}
.amazon-icon {
    width: 100px;
}

.address {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.location-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.location-icon {
    width: 22px;
    height: 22px;
    margin-top: 8px;    
    margin-right: 2px;
}

.deliver {
    color: rgb(185, 184, 184);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
}

.update-location {
    font-weight: 700;
    color: white;
    font-size: 15px;
    margin-top: -3px;
}

.search-bar {
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 20px;
    margin-left: -5px;
    min-width: 30px;
}

.search {
    padding: 10px;
    margin-left: 0px;
    border-radius: 1px;
    flex: 1;
    width: 0;
    border: none;
    height: 19px;
    z-index: 2;
}

.header {
    flex: 1;
}

@media (max-width: 500px)
{
    .search {
        padding: 10px;
        margin-left: 0px;
        flex: 1;
        max-width: 500px;
        border: none;
        height: 19px;
        width: 634px;
        z-index: 2;
    }
}
.search::placeholder {
    font-size: 16px;
    
}

.search-icon-container {
    background-color: #FEBD69;
    height: 39px;
    border: none;
    z-index: 0;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: -10px;
}
.search-icon {
    width: 20px;    
}


.dropdown {
    padding: 9px 10px 10px 5px;
    font-size: 12px;
    font-family: "PT Sans", Arial;
    background-color: rgb(242, 240, 240);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    height: 39px;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: rgb(221, 219, 219);
    z-index: 3; 
}

.flag-container {
    display: flex;
    align-items: center;
    margin-right: 0px;
}
.country {
    background-color: rgb(17, 22, 30);
    border: none;
    color: white;
    font-weight: 780;
    
}

.india-flag {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.sign-in {
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 12px;
    color: white;
    margin-left: 2px;
    z-index: 6;
}

.lists {
    background-color: rgb(17, 22, 30);
    color: white;
    font-weight: 700;
    border: none;
    margin-top: -2px;
    z-index: 5;
}

.history {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 10px;
}

.returns {
    color: white;
    font-size: 12px;
    font-weight: 500;
}
.orders {
    color: white;
    font-weight: 700;
}


.cart {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
}

.cart-icon {
    height: 26px;
    width: 100%;
}

.cart-text {
    color: white;
    font-weight: 700;
    margin-left: 5px;   
}









.menu {
    z-index: 0;
    display: flex;
    position: absolute;
    top: 60px;
    background-color: #232F3E;
    left: 0;
    right: 0;
    z-index: 7;
    align-items: center;
    justify-content: space-evenly;
}

.nav-icon {
    width: 15px;
    height: 15px;
    
}

.menu p {
    color: white;
    font-size: 15px;
    background-color: #232F3E;
    white-space: nowrap;
    overflow:auto;
    margin-right: 1px;
}
